<div id="modalHamburgerMenu" class="modal-overlay d-none">
  <div id="modalDrawerMenu" class="modalDrawerMenu-container">
    <img id="modal-image" src="../assets/img/bg-b7_eq-drawermenu.png" alt="" usemap="#modal-drawermenu">
    <map name="modal-drawermenu">
      <area shape="rect" coords="290, 23, 340, 66" href="javascript:void(0);"
        onclick="hideElement('modalHamburgerMenu');" alt="閉じる">
      <area shape="rect" coords="0, 87, 340, 117" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="お知らせ">
      <area shape="rect" coords="0, 134, 340, 164" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="遠隔操作設定">
      <area shape="rect" coords="0, 181, 340, 211" href="../settings/settings.html" onclick="" alt="太陽光発電との連携">
      <area shape="rect" coords="0, 228, 340, 258" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="わき上げ関連設定">
      <area shape="rect" coords="0, 275, 340, 305" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="浴室暖房機との連携">
      <area shape="rect" coords="0, 322, 340, 352" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="脱衣室暖房機との連携">
      <area shape="rect" coords="0, 369, 340, 399" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="機器操作権限設定">
      <area shape="rect" coords="0, 416, 340, 446" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="機器情報">
      <area shape="rect" coords="0, 463, 340, 493" href="javascript:void(0);" onclick="showDemoAppRestrictionMessage()"
        alt="アプリ情報">
    </map>
  </div>
</div>